<div class='ui page grid' id='collection-page'>
    <div class='row' id='filter'>
    </div>
    <div class='row'>
        <div class='six wide column' id='list'>
        </div>
        <div class='ten wide column ui segment' id='form'>
        </div>
    </div>
</div>

<div class='footer collection'>
    <br/>
    <div class='ui page grid bottom'>
        <div class='column center aligned'>
            &copy; <%= new Date().getFullYear() %> <div id='psilobora'></div> Psilobora&trade;
        </div>
    </div>
</div>