<div class='container'>
    <div class='ui basic center aligned segment'>
        <br/>
        <img src='/images/big-logo.png'>
        
    </div>
</div>

<div class='footer main'>
    <div id='footer-menu'>
        <br/><br/>
        <div class='ui four column page grid'>
            <div class='column center aligned'>
                <a href='#!/user' class='ui icon header'>
                    <i class='circular users icon'></i>
                    Пользователи
                    <div class='sub header'>Заведение и редактирование пользователей системы (администраторы / операторы / клиенты)</div>
                </a>            
            </div>
            <div class='column center aligned'>
                <a href='#!/washing' class='ui icon header'>
                    <i class='circular home icon'></i>
                    Мойки
                    <div class='sub header'>Заведение и редактирование моек, боксов и расписаний их работы</div>
                </a>            
            </div>
            <div class='column center aligned'>
                <a href='#!/carType' class='ui icon header'>
                    <i class='circular truck icon'></i>
                    Автомобили
                    <div class='sub header'>Заведение и редактирование классов и типов автомобилей</div>
                </a>            
            </div>
            <div class='column center aligned'>
                <a href='#!/service' class='ui icon header'>
                    <i class='circular cart icon'></i>
                    Услуги
                    <div class='sub header'>Заведение и редактирование видов и стоимости услуг</div>
                </a>            
            </div>
        </div>
        <br/>
        <div class='ui inverted divider clearing'></div>
        <br/>
    </div>
    <div class='ui page grid bottom'>
        <div class='column center aligned'>
            &copy; <%= new Date().getFullYear() %> <div id='psilobora'></div> Psilobora&trade;
        </div>
    </div>
</div>
